:root {
  --primary-color: #4ecdc4;
  --secondary-color: #a5e1e9;
  --accent-color: #2a9d8f;
  --text-color: #000000;
  --light-bg: #f0f9fa;
  --border-color: #d1eeef;
}

.write-post-container {
  max-width: 900px;
  margin-bottom: 3rem;
  border: 1px solid rgba(78, 205, 196, 0.3); 
   border-radius: 5px;
}

.card {
  border-radius: 10px;
  border: none;
}

.card-header {
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  padding: 1.5rem;
  text-align: center;
}

.card-header h2 {
  color: var(--accent-color);
  font-size: 1.5rem;
  font-weight: 600;
}

.image-preview-wrapper {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.image-remove-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #dc3545; /* Bootstrap 빨간색 */
  color: white;
  border: none;
  border-radius: 50%;
  padding: 2px 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  line-height: 1;
}

@media (max-width: 768px) {
  .card-header {
    padding: 1rem;
  }

  .card-header h2 {
    font-size: 1.3rem;
  }

  .map-view {
    height: 300px;
  }
}